/* .afterclass {
  position: relative;
  z-index: 1;
}

.afterclass::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;

  width: 100%;
  height: 5px;
  background: rgb(62, 62, 255);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s cubic-bezier(0.4,0,0.2,1);
  z-index: -1;
  border-radius: 2px;
}

.afterclass:hover::before {
  transform: scaleX(1);
  background: rgb(11, 12, 12);}  */

